/* Important styles */
#toggle {
 display: none;
 
vertical-align: top;
  width: 28px;
  height: 30px;
  margin-top: 20px;
  margin-left: 10px;
}

#toggle span:after,
#toggle span:before {
  content: "";
 

  position: absolute;
  left: 0;
  top: -9px;
 
}
#toggle span:after{
  top: 9px;
}
#toggle span {
  position: relative;
  display: block;
}

#toggle span,
#toggle span:after,
#toggle span:before {
  width: 100%;
  height: 5px;
  background-color:#99c50a;
  transition: all 0.3s;
  backface-visibility: hidden;
  border-radius: 2px;
}

/* on activation */
#toggle.on span {
  background-color: transparent;
}
#toggle.on span:before {
  transform: rotate(45deg) translate(5px, 5px);
}
#toggle.on span:after {
  transform: rotate(-45deg) translate(7px, -8px);
}
#toggle.on + #menu {
  opacity: 1;
  visibility: visible;
}

/* menu appearance*/
#menu {
  z-index: 200;
  position: relative;
  color: #555;
  width: 200px;
  padding: 10px;
  margin: auto;
  margin-left: 27px;
  font-family: "Segoe UI", Candara, "Bitstream Vera Sans", "DejaVu Sans", "Bitstream Vera Sans", "Trebuchet MS", Verdana, "Verdana Ref", sans-serif;
  text-align: center;
  border-radius: 4px;
  background: #eee;
  box-shadow: 0 1px 8px rgba(0,0,0,0.05);
  /* just for this demo */
  opacity: 0;
  visibility: hidden;
  transition: opacity .4s;
}
#menu:after {
  position: absolute;
  top: -15px;
  left: 85px;
  content: "";
  display: block;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-bottom: 20px solid #eee;
}
ul, li, li a {
  list-style: none;
  display: block;
  margin: 0;
  padding: 0;
}
li a {
  padding: 5px;
  color: #888;
  text-decoration: none;
  transition: all .2s;
}
li a:hover,
li a:focus {

  border-radius: 15px;
  background: #99c50a;
  color: #fff;
  text-decoration: none;
}







div.tabbed-menu {
  width: 1000px;
  margin: 80px auto 10px;
}

ul.tabs {
  width: 1000px;
  text-align: center;
  list-style: none;
  position: relative;
  margin: 0;
  padding: 0;
  line-height: 26px;
}

ul.tabs li {
  padding: 10px 15px;
  display: inline-block;
  color: #6d6e70;
  margin: -3px;
  width: 33.33%;
  -webkit-transition: all .3s ease-in-out;
  -moz-transition: all .3s ease-in-out;
  -o-transition: all .3s ease-in-out;
  -ms-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  font-size: 1.1em;
  border-bottom: 2px solid #6d6e70;
}
ul.tabs li .num {
  display: inline-block;
  margin-right: 45px;
  color: #fff;
  padding-top: 8px;
  height: 45px;
  width: 45px;
  border-radius: 45px;
  background-color: #6d6e70;
}

ul.tabs li.selected {
  border-bottom: 3px solid #99c50a;
  background-color: #eee
}
ul.tabs li.selected .num {
  background-color: #99c50a;
}

ul.tabs li:hover,
ul.tabs li:focus {
  border-bottom: 3px solid #99c50a;
  cursor: pointer;
}


/*
div.page {
  text-align: center;
}

div.page li {
  text-align: left;
  list-style-type: none;
}
div.content {
  padding: 10px 20px;
}
div.content p {
  padding:0;
  margin:0;
  text-align: left;
  line-height: 1.4em;
}
div.contentWrapper{

  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
}*/